<!DOCTYPE html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<%-include('../includes/header') %>
		<div id="wrapper">
			<div id="content">
				<div id="site-introduction">
					<img id="profile" src="<%=site.profile %>" style="width: 120px;">
					<h2><%- site.welcome.replace(/\n/gi, "<br/>")%></h2>
					<p>
						<%- site.description.replace(/\n/gi, "<br/>") %>
						<br><br>
						<a href="#">방명록</a>에 글 남기기<br>
					</p>
				</div>
			</div>
		</div>
		<%-include('../includes/navigation') %>
		<%-include('../includes/footer') %>
	</div>
</body>
</html>